<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:label="WhatsApp HD Status"
        android:icon="@android:drawable/ic_menu_camera">
        
        <meta-data android:name="xposedmodule" android:value="true" />
        <meta-data android:name="xposeddescription" android:value="Forces WhatsApp to use 1080p and high bitrate for Status uploads." />
        <meta-data android:name="xposedminversion" android:value="82" />
        <meta-data android:name="xposedscope" android:value="com.whatsapp" />
        
    </application>
</manifest>
